{% extends 'html/base/base.html' %}

{% block title %}
Subscribe to Categories
{% endblock %}

{% block content %}

    <style>
        body {
            padding: 20px;
        }
        .form-container {
            max-width: 500px;
            margin: 0 auto;
        }+
        
        .btn-primary {
            margin-top: 10px;
        }
    </style>

    <div class="container form-container">
        <h2 class="mb-4">Subscribe to Categories</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
        <p style="text-align: center; margin-top: 2rem;">You can subscribe to news alerts by category, select the categories you are interested in</p>
    </div>

{% endblock %}
