{% extends 'html/base/base.html' %}
{% block title %}List of newest news from tengrinews.kz{% endblock %}

{% block content %}
<h1>List of newest news from tengrinews.kz</h1>


<form method="GET" action="{% url 'all_parsed_posts' %}" class="input-group mb-3">
    <input type="text" class="form-control" name="q" placeholder="Search by Title">
    <div class="input-group-prepend" style="margin-left: 1rem; vertical-align: middle;">
    <button type="submit" style="margin-top: 0rem;" class="btn btn-primary btn-sm">Search</button>
    </div>
</form>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    {% if post.media_src|slice:'-3:' == 'mp4' %}
                    <video class="card-img-top" controls loop>
                        <source src="{{ post.media_src }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    
            {% else %}
                <img src="{{ post.media_src }}" class="card-img-top" alt="Card image cap"  width="300" height="200" style="border: none;">
            {% endif %}
            <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text"> {{ post.content|truncatewords_html:10 }}</p>
                    <p class="card-text"> {{ post.date }}</p>
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">Read Post</a>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div><div class="row">
        {% endif %}
        {% empty %}
        <div class="col">
            <p>No news articles available.</p>
        </div>
        {% endfor %}
    </div>

<div class="container static-bottom">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo; First</span></li>
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    <li class="page-item"><span class="page-link">Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span></li>

                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        <li class="page-item disabled"><span class="page-link">Last &raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}
